.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-135deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(135deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  bottom: 0;
}
