@import './imageSlider/imageSlider';
@import './hamburgerIcon/pseudo';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-before {
    @apply before:content-[''] before:block before:h-full before:w-full before:absolute before:z-40 before:bg-blue before:duration-[395ms] before:ease-custom-ease before:delay-[100.8ms] before:top-2;
  }
  .custom-after {
    @apply after:content-[''] after:block after:h-full after:w-full after:absolute after:z-40 after:bg-blue after:duration-[395ms] after:ease-custom-ease after:delay-[100.8ms] after:bottom-2;
  }

  .btn-orange {
    @apply px-8 py-3 mb-4 bg-orange text-black rounded-md relative transition duration-500 hover:text-orange hover:font-bold hover:bg-transparent before:content-[''] before:h-full before:w-full before:absolute before:top-0 before:left-0 before:border-2 before:border-orange before:rounded-md before:box-border before:opacity-0 before:scale-[.8] before:transition-all before:duration-300 before:ease-linear before:hover:scale-100 before:hover:opacity-100;
  }

  .btn-green {
    @apply px-6 py-2 text-sm lg:px-8 lg:py-3 lg:text-base inline-block bg-green text-black rounded-md cursor-pointer relative transition duration-500 hover:text-green hover:font-bold hover:bg-transparent before:content-[''] before:h-full before:w-full before:absolute before:top-0 before:left-0 before:border-2 before:border-green before:rounded-md before:box-border before:opacity-0 before:scale-[.8] before:transition-all before:duration-300 before:ease-linear before:hover:scale-100 before:hover:opacity-100;
  }

  .btn-blue {
    @apply relative bg-blue text-white font-display font-semibold text-sm rounded-md w-full hover:text-blue hover:font-bold hover:bg-transparent before:content-[''] before:absolute before:w-full before:h-full before:top-0 before:left-0 before:border-2 before:border-blue before:rounded-md before:box-border before:-z-10 before:opacity-0 before:scale-[.8] before:transition-all before:duration-300 before:ease-linear before:hover:scale-100 before:hover:opacity-100;
  }

  .btn-red {
    @apply relative bg-red text-white font-display font-semibold text-sm rounded-md w-full hover:text-red hover:font-bold hover:bg-transparent before:content-[''] before:absolute before:w-full before:h-full before:top-0 before:left-0 before:border-2 before:border-red before:rounded-md before:box-border before:-z-10 before:opacity-0 before:scale-[.8] before:transition-all before:duration-300 before:ease-linear before:hover:scale-100 before:hover:opacity-100;
  }
}
